<div class="cards"
		 id="cards_list_<%= cards.list.id %>"
		 data-list-id="<%= cards.list.id %>">
  <% cards.each(function (card) { %>
    <div class="card"
    		 id="card_<%= card.id %>"
    		 data-card-id="<%= card.id %>">

			<span class="card_title">
	      <%= card.escape("title") %>
			</span>

      <% if (card.get("comments_count") > 0) { %>
				<p class="comments_count">
          <span class="entypo-comment"></span>
          <%= card.escape("comments_count") %>
        </p>
      <% } %>

      <button class="archive_card entypo-cancel"
							data-card-id="<%= card.id %>"></button>
    </div>
  <% }); %>
</div>