<h2><%= board.escape("name") %></h2>

<div class="lists">
  <% lists.each(function (list) { %>
    <div class="list" id="list_<%= list.id %>">
      <header class="title">
        <%= list.escape("title") %>
      </header>

      <div class="cards" 
      		 id="cards_list_<%= list.id %>" 
      		 data-list-id="<%= list.id %>">
        <% list.cards().each(function (card) { %>
          <div class="card" 
          		 id="card_<%= card.id %>" 
          		 data-card-id="<%= card.id %>">
            <%= card.escape("title") %>
          </div>
        <% }); %>
      </div>
    </div>
  <% }); %>
</div>

<section id="card_modal"></section>
